@import "tailwindcss";

@theme {
  --font-sans: 'Signika', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Cactus Classical Serif', ui-serif, Georgia, serif;
  --font-archivo: 'Archivo', ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: 'Cactus Classical Serif', serif;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
